/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./app/quienes-somos/quienes-somos.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/
nav {
    background-color: #333; 
    padding: 10px 0;
  }
  
  ul {
    list-style-type: none; 
    margin: 0;
    padding: 0;
    text-align: center; 
  }
  
  h1, p{
    text-align: center;
  }
  
  li {
    display: inline; 
  }
  
  li + li {
    margin-left: 20px; 
  }
  
  a {
    text-decoration: none;
    color: #fff; 
    font-size: 18px; 
    font-weight: bold; 
    padding: 5px 10px; 
    border-radius: 10px; 
    transition: background-color 0.3s;
  }
  
  a:hover {
    background-color: #555; 
  }
